.ulp {margin: 20px 0px;}
.ulp input[type="text"],
.ulp input[type="email"],
.ulp input[type="password"],
.ulp select,
.ulp textarea {
	font-size: 12px;
	font-weight: normal;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 5px 6px;
	border: 1px solid #CCC;
	border-spacing: 0;
	font-family: arial, verdana;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	background-color: #FFF;
	height: auto;
	min-width: 0px;
	max-width: 100%;
}
.ulp textarea {
	height: 120px;
}
.ulp .ic_input_xxs {
	width: 100px;
}
.ulp .ic_input_xs {
	width: 120px;
}
.ulp .ic_input_s {
	width: 150px;
}
.ulp .ic_input_m {
	width: 200px;
}
.ulp .ic_input_number {
	width: 100px;
	text-align: right;
}
.ulp-layer-options {
	border: 1px solid #BBB;
	-moz-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-o-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-webkit-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-khtml-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	padding: 10px 15px;
	background: #F5F5F5;
}
.ulp-layer-row {
	display: table;
	width: 100%;
}
.ulp-layer-property {
	display: table-cell;
	padding: 5px;
}
.ulp-layer-property label {
	font-weight: bold;
	display: block;
}
.ulp-loading,
#ulp-reset-loading,
#ulp-aweber-loading {
	margin: 0 10px !important;
	padding: 0 !important;
	background: transparent !important;
	border-width: 0 !important;
	display: none;
	vertical-align: middle;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}
#ulp-overlay {
	background: rgba(255,255,255,0.8);
	z-index: 998;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
}
#ulp-new-layer , .ulp-edit-layer {
	z-index: 999; 
	position: relative;
	display: none;
	margin-bottom: 10px;
}

.ulp-message,
#ulp-aweber-message {
	display: none; 
	line-height: 22px; 
	background: #FBE3E4 url('../images/error.gif') no-repeat 10px 6px; 
	padding: 3px 10px 3px 35px; 
	color:#8a1f11;
	border: 1px solid #FBC2C4; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	-webkit-border-radius:3px; 
	font-size: 13px;
	font-family: arial, verdana;
}
.ulp-message ul, #ulp-aweber-message ul { margin: 0 0 0 15px !important; padding: 0; list-style: disc !important;}
.ulp-message ul li, #ulp-aweber-message ul li {line-height: 20px; color:#333; margin-top: 0px; margin-bottom: 0px;}
#ulp-layers-data {
	margin-bottom: 10px;
}
.ulp-layers-item {
	display: table;
	width: 100%;
}
.ulp-layers-item-cell {
	display: table-cell;
	padding: 5px;
	vertical-align: top;
}
.ulp-layers-item-cell h4 {
	padding: 0;
	margin: 0;
	font-weight: bold;
	font-size: 13px;
}
.ulp-layers-item-cell p {
	padding: 0;
	margin: 0;
	font-size: 11px;
	color: #AAA;
	line-height: 1.3;
}
.ulp-options h3 {
	display: block;
	margin: 40px 0 10px 0;
	background-color: #F8F8F8;
	border: 1px solid #E0E0E0;
	border-left-width: 0;
	border-right-width: 0;
	padding: 8px 10px;
	font-size: 16px;
	font-weight: 600;
	color: #333;
	line-height: 1.475;
}
#ulp-import-form {
	position: absolute;
	top: 40px;
	right: 150px;
	background-color: #F8F8F8;
	border: 1px solid #BBB;
	margin: 0px;
	padding: 0px;
	-moz-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-o-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-webkit-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-khtml-box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	box-shadow: rgba(192,192,192,0.5) 2px 2px 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	display: none;
}
.ulp-import-form-close {
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
	position: absolute;
	top: 0px;
	right: 3px;
	text-decoration: none !important;
	color: #888 !important;
}
table.ulp_records {
	width: 100%;
	border-collapse: collapse;
}
table.ulp_records tr {

}
table.ulp_records td,
table.ulp_records th {
	padding: 5px 5px 5px 5px;
	vertical-align: top;
	border: 1px solid #C0C0C0;
}

table.ulp_records th {
	background-color: #E0DBD0;
	vertical-align: middle;
}

table.ulp_records a{
	color: #0080FF;
	text-decoration: none;
}
table.ulp_records a:hover{
	text-decoration: underline;
}
.ulp_buttons {text-align: right; margin-bottom: 10px; margin-top: 10px; float: right; position: relative;}
.ulp_pageswitcher {
	margin-right: 200px;
	float: left;
}
.ulp_pageswitcher div {float: none !important;}

.ulp_legend  {margin-top: 50px;}
.ulp_legend  p {margin-top: 2px; margin-bottom: 2px; height: 100%; overflow: hidden;}
.ulp_legend  img {float: left; margin-right: 10px;}

table.ulp_useroptions {
	width: 100%;
	border-collapse: collapse;
}
table.ulp_useroptions  em, .ulp-layer-options em {
	font-size: 11px;
	color: #A0A0A0;
}

table.ulp_useroptions tr {

}
table.ulp_useroptions td,
table.ulp_useroptions th {
	padding: 5px 5px 5px 5px;
	vertical-align: top;
	border: 0px solid #C0C0C0;
	text-align: left;
}
table.ulp_useroptions th {
	width: 210px;
}

.ulp-preview-container {
	text-align: center;
	overflow: hidden;
	background: #F8F8F8;
}
.ulp-preview-window {
	border: 1px dashed #888;
	margin: 120px 0px;
	display: inline-block;
	font-size: 14px;
	font-family: arial, verdana;
	text-align: left;
}
.ulp-preview-content {
	position: relative;
}
.ulp-preview-layer {
	position: absolute;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	text-align: justify;
	line-height: 1.475;
	border: 1px dashed #888;
	border-spacing: 0 !important;
}
.ulp-preview-layer-active {
	border: 1px dotted yellow;
}
.ulp-preview-layer img {
	max-width: 100% !important;
	min-width: 0px !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
}
.ulp-preview-input {
	-moz-border-radius: 2px !important;
	-webkit-border-radius: 2px !important;
	-o-border-radius: 2px !important;
	-ms-border-radius: 2px !important;
	-khtml-border-radius: 2px !important;
	border-radius: 2px !important;
	vertical-align: middle !important;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #888;
	border-spacing: 0 !important;
	clear: both !important;	
	width: 100% !important;
	margin: 0px !important;
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
	height: 100% !important;
	background: #FFFFFF;
	margin: 0 !important;
	padding: 0px 6px !important;
	line-height: 1.5 !important;
	background: rgba(255,255,255,0.8);
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
	font-size: inherit !important;
}
.ulp-preview-submit, .ulp-preview-submit:visited {
	text-decoration: none !important;
	font-size: inherit !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(#33bcef,#019ad2);
	background-image: -ms-linear-gradient(#33bcef,#019ad2);
	background-image: -webkit-linear-gradient(#33bcef,#019ad2);
	background-image: -o-linear-gradient(#33bcef,#019ad2);
	background-image: linear-gradient(#33bcef,#019ad2);
	transition-duration: .3s;
	-moz-transition-duration: .3s;
	-webkit-transition-duration: .3s;
	-o-transition-duration: .3s;
	-khtml-transition-duration: .3s;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
	border: 1px solid #019ad2;
	width: auto;
	white-space: nowrap;
	height: auto;
	position: relative;
	display: inline-block;
	padding: 5px 20px;
	line-height: 1.5;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	margin: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}
.ulp-preview-layer a {
	text-decoration: none !important;
}
.ulp-preview-submit:hover, .ulp-preview-submit:active {
	background-color:#0271bf;
	background-repeat:repeat-x;
	background-image:-moz-linear-gradient(#2daddc,#0271bf);
	background-image:-ms-linear-gradient(#2daddc,#0271bf);
	background-image:-webkit-linear-gradient(#2daddc,#0271bf);
	background-image:-o-linear-gradient(#2daddc,#0271bf);
	background-image:linear-gradient(#2daddc,#0271bf);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
	border: 1px solid #019ad2;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}

.ulp-buynow-blue, .ulp-buynow-blue:visited {
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: linear-gradient(#33bcef,#019ad2);
	transition-duration: .3s;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',endColorstr='#019ad2',GradientType=0);
	border: 1px solid #019ad2;
	width: auto;
	white-space: nowrap;
	height: auto;
	display: inline-block;
	padding: 5px 20px;
	border-radius: 5px;
	margin: 0;
	box-shadow: none;
}
.ulp-buynow-blue:hover, .ulp-buynow-blue:active {
	background-color: #0271bf;
	background-repeat: repeat-x;
	background-image: linear-gradient(#2daddc,#0271bf);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
	box-shadow: none;
}

input, textarea, select {margin: 0px !important;}
.row {margin-bottom: 10px;}
small {color: #AAA;}
#icontact_progress {display: none;}
ol.embed-list li {margin-bottom: 20px; margin-top: 20px;}
.loginbox {position: absolute; width: 450px; height: 100px; top: 50%; left: 50%; margin-top: -50px; margin-left: -225px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
text-align:left;
border: 1px solid #AAA;
-moz-box-shadow: rgba(128,128,128,1) 0 4px 30px;
-webkit-box-shadow: rgba(128,128,128,1) 0 4px 30px;
-khtml-box-shadow: rgba(128,128,128,1) 0 4px 30px;
box-shadow: rgba(128,128,128,1) 0 4px 30px;
}
ul.data-rel-attributes {margin-top: 10px; margin-bottom: 10px;}
.widefat {width: 100%;
}